.ext-margin-titulos {
    margin: 9rem;
}

.txt-vid-cbp {
    font-size: 2vh;
    margin-top: -5rem;
}

.color-table {
    color: $color_1 !important;
}
.gdbh{
    .carousel{
        width: 75% !important;
    }
}

.tabla {
    @include flex-j-center;
    margin: 4rem;
    padding: 0px;

    table {
        width: 50% !important;
        height: 15rem;
        border: 4px dashed $color_1;

        .table-size {
            font-size: 1.3rem;
        }

    }
}