@font-face {
    font-family: "ARCADECLASSIC";
    src: url('../fonts/ARCADECLASSIC.TTF') format('truetype');
}

@font-face {
    font-family: "Minecraft-Regular";
    src: url('../fonts/Minecraft-Regular.otf') format('truetype');
}

@font-face {
    font-family: "LoveGlitch";
    src: url(../fonts/LoveGlitch.ttf);
}

@font-face {
    font-family: "UglyByte";
    src: url(../fonts/UglyByte.otf);
}

@font-face {
    font-family: "Montserrat-Italic";
    src: url(../fonts/Montserrat-Italic.ttf);
}