.iBox {
    @include flex-j-center;
    flex-wrap: wrap;
    margin: 5rem;
    .boxI {
        @include flex-j-center;
        align-items: center;
        width: 45%;
        height: 40rem;
        margin: 0.5rem;
        text-decoration: none;
        &:hover {
            color: $color_2 !important;
        }
        .titulosIhover {
            @include shadow;
        }
    }
    .u {
        background-image: url(../multimedia/index/cod.png);
        background-position: 10% 50%;
        @include img-cuadricula;
    }
    
    .d {
        background-image: url(../multimedia/index/fh.png);
        background-position: 75% 50%;
        @include img-cuadricula;
    }
    
    .t {
        background-image: url(../multimedia/index/cbp.png);
        background-position: 40% 50%;
        @include img-cuadricula;
    }
    
    .c {
        background-image: url(../multimedia/index/hzd.png);
        @include img-cuadricula;
    }
    
    
}







