.contenedorLogo {
    text-align: center;
    margin: 0rem;

    .titulosJuegos {
        width: 35rem;
        margin: 1rem;
        padding: 1rem;
    }
}

.contenedorImgJuegos{
    @include flex-j-center;
    flex-direction: row;
    flex-wrap: wrap;
    .img-juegos{
        width: 40%;
        margin: 1rem;
    }

}

.f-oscuro {
    color: $color_1;
    background-image: linear-gradient(60deg, #0E1014 0%, #1D2227 100%);
    padding: 3rem;
}